
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Perfil-Q Cuidado!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Styles/reset.css">
    <link rel="stylesheet" href="~/Content/Styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&dislpay=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="caixa">
            <nav>
                <h1><img src="~/Content/img/logo.png" alt="log dam empresa"></h1>
                <ul>
                    <li><a href="/Home/Homepage">Home</a></li>
                    <li><a href="/Home/Servicos">Serviços</a></li>
                    @if (Session["usuarioLogado"] != null)
                    {
                        <li><a href="/Perfil/Perfil">Perfil</a></li>
                        <li><a href="/Login/Logout">Sair da conta</a></li>

                    }
                    else
                    {
                        <li><a href="/Home/Cadastro">Cadastro</a></li>
                        <li><a href="/Login/Login">Login</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>    
        <main>
            <div style="text-align:center;">
                <div>
                    <a class="btn btn-outline-warning btn-lg" role="button" title="@Session["usuarioLogado"].ToString()"  href="@Url.Action("Alterar" ,"Perfil", new {  id= Session["cliente_id"]  })"><i>Alterar informações</i></a>
                </div>
                <br />
                <div>
                    <a href="/Perfil/SolicitarServico" class="btn btn-outline-success btn-lg" role="button"><i> Solicitar Serviço</i></a>
                </div>
                <br />
                <div>
                    <a href="/Perfil/Perfil" class="btn btn-outline-info btn-lg" role="button"><i> Histórico de Serviços</i></a>
                </div>
                <br />
                <div>
                    <a   title="@Session["usuarioLogado"].ToString()" href="@Url.Action("Conta" ,"Perfil", new {  id= Session["cliente_id"]  })" class="btn btn-outline-danger btn-lg" role="button"><i> Configurações</i></a>
                </div>
            </div>
        </main>
        <footer>
            <img src="~/Content/img/logo.png">
            <p class="copyright">&copy;Copyright Q Cuidado! - 2022</p>
        </footer>
    </body>

</html>