
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/cssmanual/home.css">
</head>
<body>
    <div class="home">
        <img src="~/Content/img/logo.png">
    </div>
</body>
</html>